
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="list-group">
  <li class="list-group-item">Hit the gym</li>

  <li class="list-group-item list-group-item-primary">Pay bills</li>
  <li class="list-group-item list-group-item-secondary">Meet George</li>
  <li class="list-group-item list-group-item-success">Buy eggs</li>
  <li class="list-group-item list-group-item-danger">Read a book</li>
  <li class="list-group-item list-group-item-warning">Organize office</li>
</ul>
<div class="list-group w-50">
    <label class="list-group-item">
        <input type="checkbox" class="form-check-input me-1" name="list"> Hit the gym
    </label>
    <label class="list-group-item">
        <input type="checkbox" class="form-check-input me-1" name="list"> Pay bills
    </label>
    <label class="list-group-item">
        <input type="checkbox" class="form-check-input me-1" name="list"> Meet George
    </label>
    <label class="list-group-item">
        <input type="checkbox" class="form-check-input me-1" name="list"> Buy eggs
    </label>
    <label class="list-group-item">
        <input type="checkbox" class="form-check-input me-1" name="list"> Read a book
    </label>
    <label class="list-group-item">
        <input type="checkbox" class="form-check-input me-1" name="list"> Organize office
    </label>

</div>
</body>
</html>