{% extends "app_teacher/components/base.html" %}
{% load static %}

{% block head %}{% endblock head %}

{% block title %}
    Список задач
{% endblock title %}

{% block navbar %}
    {% include 'app_teacher/components/navbar.html' %}
{% endblock navbar %}

{% block main %}
<main class="flex-shrink-0 bg-light">
    <div>
        <li>Количество созданных задач: {{todo_count}}</li>
    </div>
    <div>
        {% include 'app_teacher/components/paginator.html' %}
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% if not page %}
            <div class="text-center">
                No data!
            </div>
        {% else %}
            {% for i in page %}
                <div class="feature col">
                    {% if i.is_completed %}
                        <div>
                            <i class="fa-solid fa-tag"></i>
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="feature-icon bg-success bg-gradient">
                            <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
                        </div>
                        <h2>{{i.title}}</h2>
                        <a class="text-decoration-none text-primary" href="{% url 'todo_detail' i.id %}">подробнее</a>
                        <a class="text-decoration-none text-danger" href="{% url 'todo_delete' i.id %}">удалить</a>
                        <a class="text-decoration-none text-warning" href="{% url 'todo_update_status' i.id %}">переключить статус</a>
                        <a class="text-decoration-none text-secondary" href="{% url 'todo_change_data' i.id %}">изменить задачу</a>
                    {% else %}
                        <div>
                            <i class="fa-solid fa-tag"></i>
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="feature-icon bg-danger bg-gradient">
                            <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
                        </div>
                        <h2>{{i.title}}</h2>
                        <a class="text-decoration-none text-primary" href="{% url 'todo_detail' i.id %}">подробнее</a>
                        <a class="text-decoration-none text-danger" href="{% url 'todo_delete' i.id %}">удалить</a>
                        <a class="text-decoration-none text-warning" href="{% url 'todo_update_status' i.id %}">переключить статус</a>
                        <a class="text-decoration-none text-secondary" href="{% url 'todo_change_data' i.id %}">изменить задачу</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {% include 'app_teacher/components/paginator.html' %}
    </div>
</main>
{% endblock main %}


{% block footer %}
  {% include 'app_teacher/components/footer.html' %}
{% endblock footer %}