

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <div class="mb-3">
        <label class="form-label" for="inputThings">Name things to do </label>
        <input type="text" class="type-Point" id="inputThings" placeholder="Things to do">
    </div>
    <div class="mb-3">
        <label class="form-label" for="inputDate">What ist last time to finish it</label>
        <input type="date" class="form-control" id="inputDate" placeholder="Last time">
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkRemember">
            <label class="form-check-label" for="checkRemember">Repeat it after</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Make a list</button>
</form>
</body>
</html>

